.createCube {
  width: 100%;
  height: 10vh;
  display: flex;
  background-color: rgb(158, 154, 177);
  border: 2px solid black;
}

#createCube {
  height: 5vh;
  width: 15vh;
  justify-content: center;
  margin: auto;
}
.cube {
  line-height: 10vh;
  border: 2px solid black;
  border-bottom: 1px;
  height: 10vh;
  background-color: rgb(181, 176, 204);
  display: flex;
  justify-content: space-evenly;
}
.cubePic {
  width: 10vw;
}
.name {
  width: 15vw;
  display: flex;
  line-height: initial;
  align-items: center;
  justify-content: center;
}
.name h2 {
  font-size: 1.5rem;
}
.date {
  width: 10vw;
}
.delete {
  width: 10vw;
}
#delete {
}

#cube_img {
  height: 100%;
}
